.page-size {
  min-height: 100vh;
  max-height: 100vh;
  min-width: 100vw;
  max-width: 100vw;
}
.body-size {
  min-height: 70vh;
  max-height: 70vh;
}
.description-size {
  max-width: min(1050px, 70vw);
  min-width: min(1050px, 70vw);
}
.button-size {
  width: min(85vw, 450px);
}